:root {
    /* COLORES INSTITUCIONALES */
    --color-primary: #0f1e3d;     /* Azul marino */
    --color-secondary: #c0266d;   /* Magenta */
    --color-tertiary: #ffffff;   /* Blanco */
    --color-accurate: #0b0b0b;   /* Negro */
    --fuente-principal: 'Raleway', sans-serif;
    /* UI */
    --shadow-soft: 0 2px 10px rgba(0,0,0,0.06);
    --radius-md: 8px;
    --transition-fast: 0.3s ease;
  }
body{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
  *{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  

  html {
    scroll-behavior: smooth;
  }
  

  .no-scroll {
    overflow: hidden;
    height: 100vh;
    touch-action: none;
  }
  